.wrapper{
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #fff;
    opacity: 0.85;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    .close
    {
        font-size: 50px;
        font-weight: 900;
        margin-left: 80%;
    }
    &-list{
        list-style: none;
        &-item{
            font-size: 30px;
            margin-bottom: 30px;
            font-weight: 900;
            a{
                color: #000;
                text-decoration: none;
            }
        }
    }
}
.container_alt{
    padding: 0px 150px;
    background-image: url(../images/hero-section-bg.jpg);
    background-size: cover;
    @include related-to('small'){
        padding: 0;
    }
    header{
        background-color: #fff;
        z-index: 100;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
        display: flex;
        flex-direction: column;
        .top-bar{
            background-color: $white;
            margin: 0;
            padding: 6px 20px 6px 0;
            float: left;
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #000;
            .tagline{
                margin: 0 25px;
                padding: 0;
                float: left;
                opacity: .7;
                font-family: Poppins;
                line-height: 17px;
                font-weight: 400;
                font-style: normal;
                color: #222;
                font-size: 13px;
            }
        }
        .main-header{
            display: flex;
            position: relative;
        }
        .header-logo{
            overflow: hidden;
            float: left;
            display: block;
            position: relative;
            z-index: 99;
            text-align: center;
            width: 70%;
            border-color: #e5e5e5;
            border-right: 1px solid #000;
            max-width: 70%;
            @include respond-to('medium'){
                max-width: 15%;
                width: 15%;
            }
            img{
                width: 150px;
                @include respond-to('medium'){
                    width: 100px;
                }
            }
        }
        .header-right {
            display: flex;
            width: auto;
            margin-left: 30px;
            justify-content: center;
            align-items: center;
            @include respond-to('medium'){
                margin-left: 50px;
            }
            .nav-list{
                display: flex;
                flex-direction: row;
                list-style: none;
                @include related-to('small')
                {
                    display: none;              
                }
                .menu-item{
                    margin-right: 50px;
                    @include related-to('small'){
                        margin-bottom: 20px;
                    }
                    a{
                        color: #000;
                        text-decoration: none;
                        font-size: 16px;
                    }
                    .sub-menu{
                        display: none;
                        flex-direction: column;
                        width: 210px;
                        background-color: firebrick;
                        position: absolute;
                        list-style: none;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 9;
                        margin: 0;
                        padding: 0;
                        backface-visibility: hidden;
                        -webkit-backface-visibility: hidden;
                        li{
                            margin: 10px 5px;
                            a{
                                color: #fff;
                            }
                        }
                    }
                    &:hover{
                        .sub-menu{
                            display: flex;
                        }
                    }
                }
            }
            #navtrigger{
                padding: 10px;
                height: 50px;
                width: 50px;
                font-size: 30px;
                background-image: none;
                float: right;
                z-index: 99;
                text-align: center;
                color: #fff;
                background-color: #f48460;
                @include respond-to('small'){
                    display: none;
                }
            }
        }
    }
}