.btn
{
    height: 50px;
    padding: 15px 25px;
    color: $white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

    &__primary
    {
        background-color: $primary-color;
        border: $primary-color;
    }

    &__secondary
    {
        background-color: $secondary-color;
        border: $secondary-color;
    }
}
